@use 'abstracts/colors' as c;
@use 'page' as page;
@use 'abstracts/view' as view;

:host {
  grid-column: 1 / -1;

  @include view.mobile {
    width: 100vw;
  }
}

.wrapperScope {
  @include page.pageLayout;
  grid-gap: 4rem;
  @include page.scrollHash;
}

.introSection {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  @include view.mobile {
    grid-column: 1 / -1;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 0 2rem;
  }

  h2 {
    @include page.sizeH2;
    justify-self: center;
  }

  p {
    @include page.sizeP;
    @include view.mobile {
      width: 100%;
      //text-align: center;
      //padding: 0 2rem;
    }
  }
}

.itemsSection {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.scopeItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @include view.mobile {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    @include view.mobile {
      width: 100vw;
      padding: 0 1rem;
      gap: 1rem;
    }
    h3 {
      @include page.sizeH3;
      @include view.mobile {
        text-align: center;
        @include page.sizeH2Mobile;
      }
    }
    p {
      @include page.sizePsmall;
      @include view.mobile {
        text-align: center;
      }
    }
  }

  img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border-radius: 0 2rem 2rem 0;

    @include view.mobile {
      border-radius: 0;
    }
  }
  .rightElement {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-radius: 2rem 0 0 2rem;
    @include view.mobile {
      grid-column: 1 / -1;
      border-radius: 0;
    }
  }
}

:host ::ng-deep {
  .markdownWrapper {
    @include view.mobile {
      padding: 0 1rem;
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      justify-content: center;
      @include view.mobile {
        text-align: start;
      }

      li {
        @include page.sizePsmall;

        &::before {
          content: '\e416';
          font-family: 'Font Awesome 7 Pro';
          margin-right: 1.4rem;
          color: c.$color-primary;
        }
      }
    }
  }
}
