<div class="wrapperForm" id="form">
  <h2>Skontaktuj się z nami</h2>
  <p>
    Napisz, czego potrzebujesz, a przygotujemy odpowiedź dopasowaną do Twojego zapytania. Możesz
    przesłać informacje o produkcie, nakładzie, terminie realizacji lub zakresie projektu.
  </p>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="formSection">
    <div class="informationUser">
      <div class="formField">
        <label for="name">Imię</label>
        <input id="name" name="name" ngModel type="text" />
      </div>
      <div class="formField">
        <label for="email">e-mail</label>
        <input id="email" name="email" ngModel type="email" />
      </div>
      <div class="formField">
        <label for="phone">telefon</label>
        <input id="phone" name="phone" ngModel type="text" />
      </div>
    </div>
    <div class="messageSection">
      <div class="formField">
        <label for="topic">temat</label>
        <input id="topic" name="topic" ngModel type="text" />
      </div>
      <div class="messageField">
        <label for="message">wiadomość</label>
        <textarea cols="" id="message" name="message" ngModel rows=""></textarea>
      </div>
      <div class="optionsElement">
        <label for="conversatrionElement">dotyczy</label>
        <select id="conversatrionElement" name="conversatrionElement" ngModel>
          <option *ngFor="let item of dataOptionElements" [value]="item.value">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="checkboxField">
      <input id="consentContactGiven" name="consentContactGiven" ngModel required type="checkbox" />
      <label for="consentContactGiven"> Wyrażam zgodę na przetwarzanie danych osobowych </label>
    </div>

    <button type="submit">Wyślij formularz</button>
  </form>
</div>
