$color-primary: #9db505;
$color-secondary: #414141;
$color-tertiary: #000000;

$font-color-primary: #efefef;
$font-color-secondary: #525252;

$color-item-1: #1f5f5b;
$color-item-2: #1e3a5f;
$color-item-3: #556b0f;
$color-item-4: #5b4a68;
$color-item-5: #8a4b3a;
$color-item-6: #3f5f7a;
