<div
  [style.background-image]="'url(' + urlAddres + miniHeroData?.image?.url + ')'"
  class="wrapperMiniHero"
>
  <div [class.coverElementLeft]="sideContent === 'left'"></div>
  <h2 [class.leftH2]="sideContent === 'left'">{{ miniHeroData?.title }}</h2>
  <p [class.leftP]="sideContent === 'left'">{{ miniHeroData?.description }}</p>
  <app-button-link
    [class.leftButton]="sideContent === 'left'"
    [link]="miniHeroData?.buttonLink"
    [name]="miniHeroData?.buttonText"
    fragment="lightPhoto"
  ></app-button-link>
</div>
