<div [class.active]="activeMenu === true" class="wrapperMobileMenu">
  <div class="menuElement">
    <i (click)="openMenu()" class="fa-thin fa-bars"></i>
    <div (click)="goToLink('/')" class="logoElement"></div>
    <i (click)="goToLink('/kontakt')" class="fa-thin fa-address-book"></i>
  </div>
  <div class="itemList">
    <div class="menuMainElements">
      @for (item of menuElementMobile; track item.name; let i = $index) {
        <a (click)="closeMenu()" [routerLink]="item.link" class="itemMenu"
          ><i [class]="item.icon"></i>{{ item.name }}</a
        >
      }
    </div>
    <div class="secMenuElement">
      @for (item of secMenuElementMobile; track item.name; let i = $index) {
        <a (click)="closeMenu()" [routerLink]="item.link" class="itemMenu">{{ item.name }}</a>
      }
    </div>
  </div>
</div>
