@use '../../../styles/abstracts/colors' as c;

:host {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.footerWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  background-color: c.$font-color-secondary;
  box-shadow: 0 -0.5rem 1rem rgba(c.$font-color-primary, 0.2);
  padding: 4rem 4rem 2rem 4rem;
}

.copyElement {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  justify-self: center;

  p {
    text-align: center;
    color: c.$font-color-primary;
  }
}

.secMenuElement,
.mainMenuElement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  a {
    font-size: 1.6rem;
    color: c.$font-color-primary;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover {
      color: c.$color-primary;
    }
  }
}

.secMenuElement {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.mainMenuElement {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.inforationSection {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.technicalMenu {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  padding: 3rem 0;
  justify-self: center;

  a {
    font-size: 1.2rem;
    color: c.$font-color-primary;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: c.$color-primary;
    }
  }
}

.inforationElement {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  & > * {
    font-size: 1.6rem;
    color: c.$font-color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: c.$color-primary;
    }
  }

  .companyName {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &::before {
      content: '\e61e';
      font-family: 'Font Awesome 7 Pro';
      font-size: inherit;
      color: c.$color-primary;
      justify-self: center;
      align-self: center;
    }
  }

  .mailTo {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &::before {
      content: '\e6de';
      font-family: 'Font Awesome 7 Pro';
      font-size: inherit;
      color: c.$color-primary;
      justify-self: center;
      align-self: center;
    }
  }

  .telephone {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &::before {
      content: '\e6e2';
      font-family: 'Font Awesome 7 Pro';
      font-size: inherit;
      color: c.$color-primary;
      justify-self: center;
      align-self: center;
    }
  }

  .nip {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &::before {
      content: '\f2c2';
      font-family: 'Font Awesome 7 Pro';
      font-size: inherit;
      color: c.$color-primary;
      justify-self: center;
      align-self: center;
    }
  }

  .addres {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &::before {
      content: '\f3c5';
      font-family: 'Font Awesome 7 Pro';
      font-size: inherit;
      color: c.$color-primary;
      justify-self: center;
      align-self: center;
    }
  }
}
