@use 'abstracts/colors' as c;
@use 'page' as page;
@use 'abstracts/view' as view;

:host {
  @include page.pageLayout;

  @include view.mobile {
    width: 100vw;
  }
}

.wrapperCTA {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  h2 {
    @include page.sizeH2;
    justify-self: center;
    text-align: center;
  }
  p {
    @include page.sizeP;
    @include view.mobile {
      text-align: center;
    }
  }
}
