<div class="wrapperBenefits">
  <div class="headerText">
    <h2>{{ benefitsData?.title }}</h2>
    <p>{{ benefitsData?.description }}</p>
  </div>
  <div
    [class.dataAnaliticPage]="formatSection === 'dataAnaliticPage'"
    [class.droneServicePage]="formatSection === 'droneServicePage'"
    [class.itemsBenefits]="formatSection === 'oneColumn'"
    [class.itemsThreeColumns]="formatSection === 'threeColumns'"
    [class.visualIdf]="formatSection === 'visualIdf'"
    [class.webServicePage]="formatSection === 'webServicePage'"
    appInView
  >
    @for (item of benefitsData?.itemBenefits; track item.title; let i = $index) {
      <div
        (click)="formatSection === 'webServicePage' ? changeBenefit(i) : null"
        [class.itemThree]="formatSection === 'threeColumns'"
        [class.itemVisualIdf]="formatSection === 'visualIdf'"
        [class.itemWebServ]="formatSection === 'webServicePage'"
        [class.item]="formatSection === 'oneColumn'"
        [ngClass]="[
          formatSection === 'oneColumn' ? 'color-' + (i + 1) : '',
          activeBenefit === i ? 'activeBenefit' : '',
        ]"
      >
        <i [class]="item.icon"></i>
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    }
  </div>
</div>
