@use 'abstracts/colors' as c;
@use 'page' as page;
@use 'abstracts/view' as view;

:host {
  @include page.mainLayout;
}

.wrapperPortfolio {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  h2 {
    @include page.sizeH2;
    justify-self: center;
  }

  p {
    @include page.sizeP;
  }
}

.menuListElement {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  scroll-margin-top: 10rem;

  a {
    color: c.$font-color-primary;
    @include page.sizePxxsmall;
    text-decoration: none;
    padding: 0.5rem 1rem;
    outline: 1px solid rgba(c.$color-primary, 0.4);
    border-radius: 2rem;
    background-color: rgba(c.$color-primary, 0.1);
    cursor: pointer;
  }

  .active {
    transform: scale(1.1);
    background-color: rgba(c.$color-primary, 0.3);
  }
}

.elementsPortfolio {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;

  .sectionItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    .items {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      .elementItem {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        overflow: hidden;
        //padding: 1rem;
        display: flex;
        cursor: pointer;

        &:hover img {
          opacity: 0.8;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          opacity: 0.4;
          transition: all 0.2s ease-in-out;
        }
        p {
          position: relative;
          z-index: 1000;
          align-self: end;
          text-align: center;
          padding: 2rem 1rem;
          background-color: rgba(c.$color-secondary, 0.5);
        }
      }
    }

    p {
      grid-column: 1 / -1;
      scroll-margin-top: 10rem;
      @include page.sizeH3;
    }
  }
}

.buttonMenu {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  cursor: pointer;
  color: c.$font-color-primary;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(c.$color-primary, 0.5);
  border-radius: 50%;
  background-color: rgba(c.$color-primary, 0.2);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(c.$color-primary, 0.5);
  }
  i {
    @include page.sizeH2;
  }
}
